*.o
*.pbw
*.pbi
*.pbd
*.xcl
*.browse
*.db
*.linf
*.map
*.out
*.sim
*.bat
*.ps1
*.pdf
*.jpg
*.bmp
*.crun
*.reggroups
*.dnx
*.wsdt
*.dbgdt
*.dch
*.xlsx
*.hex
*.custom_argvars
*.tmp
*.s
*.txt
*.dep
*.md
*.cpp
